body {
    background-color:#001735;
}

#base {
    display: inline-block;
    background-color:white;
    margin-top: 60px;
    position: relative;
    margin-left: 10%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#base::before {
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -60px;
    width: 0;
}

#base::after {
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -60px;
    width: 0;
  } 

#base2 {
    display: inline-block;
    background-color:white;
    margin-top: 60px;
    position: relative;
    margin-left: 80%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#base2::before {
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -60px;
    width: 0;
}

#base2::after {
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -60px;
    width: 0;
  } 
